/*
    Blue:    #3F51B5
    Red:     #DB2727
    Orange:  #EF6C00
    Green:   #4CAF50
    Gold:    #DCA828
    Purple:  #9C27B0
    Teal:    #009688
    LBlue:   #2196F3
    ROrange: #F44336
    Pinky:   #E91E63
    BGreen:  #024640
    GGold:   #827717
    BPurple: #32004B
    CGrey:   #607D8B
    DGreen:  #024640
*/

html    { font-family: Gotham, Helvetica, Arial, sans-serif; }


.container
        { width: 100%; }

.table-container
        { margin-left: auto;
          margin-right: auto;
          overflow: scroll; 
          width: 100vw; }

@font-face 
        { font-family:'Antraste'; 
           src: url('../res/Antraste.ttf'); }

@font-face 
        { font-family:'Gotham';
          src: url('../res/Gotham-Bold.otf'); }

#title  { width: 960px; 
          margin-left: auto; 
          margin-right: auto;
          margin-top: 15px; }

body    { background: #F6F4EE; } /*, #f3eedd; }  */

h1      { font-family:'Antraste'; 
          font-size:75.38px; 
          margin-bottom:5px; 
          margin-top:25px; }

h2      { font-family:'Gotham', Helvetica, Arial, sans-serif;
          font-weight: bold; 
          font-size: 32pt; 
          line-height: 32px;
          margin-top: 40px; 
          margin-bottom: 30px;
          text-decoration: underline; }

h3      { font-family:'Gotham', Helvetica, Arial, sans-serif;
          font-size: 20pt; }

.panel-title
        { font-size:20px; }

.panel-body
        { font-size: 16px; }

.panel-heading
        { display: block; }

#main   { width:1040px; 
          margin-left: auto;
          margin-right: auto; }

tr      { height: 15px; }

td      { border: none;
          border-left: 5px solid transparent;
          padding: 1px; 
          margin: 0px; 
          vertical-align: middle;  
          height: inherit; 
          text-align: center;  }

.time   { width: 5px; 
          font-family: Gotham, Helvetica Neue, Arial, sans-serif;
          font-weight: bold;  }

.top    { width:135px;
          height:69px; }

.day    { font-family: Gotham, Helvetica Neue, Arial, sans-serif; 
          font-size: 36px; 
          font-weight: bold; 
          color: white; 
          background-color: black; 
          width: 90%; 
          height: 69px; 
          text-align: center; 
          line-height: 69px;
          margin: auto; 
          margin-bottom: 4px; 
          display: block; }

.event, .eventSplit, .eventL, .eventR
        { border-radius: 11px; 
          width: 100%; 
          height: 100%;

          display: flex; 
          justify-content: center; 
          align-items: center;

          /* Safari */
          display: -webkit-flex; 
          -webkit-justify-content: center;
          -webkit-align-items: center;
          
          font-family: Helvetica Neue, Arial, sans-serif;
          font-weight: 500; 
          color: white;
          font-size: 0.9em;

          transition: all 0.18s;
          -moz-transition: all 0.18s; /* Firefox 4 */
          -webkit-transition: all 0.18s; /* Safari and Chrome */
          -o-transition: all 0.18s; /* Opera */
          -ms-transition: all 0.18s; /* IE9 (maybe) */  }

/* Enables event expansion upon hover */
.event:hover, .eventL:hover, .eventR:hover
        { transform: scale(1.04); } 

.eventL { width: 99%; 
          height: 100%; 
          float: left; }

.eventR { width: 99%; 
          height: 100%;  
          float: right; }

.small  
        { font-size: 0.8em; }

/* This class somehow maintains cell size on the 
   half-events. I have no idea why. 
   ...
.link   { position: ;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        
          display: flex;
          justify-content: center;
          align-items: center;
          
          display: -webkit-flex;
          -webkit-justify-content: center;
          -webkit-align-items: center;
         
          z-index: 1; }

.link:hover
        { text-decoration: underline; }
*/

.half   { border: none;
          padding: 0;
          margin: 0; 
          width: 45%; }

table.half
        { height: 100%;
          width: 100%; }

a.event, a.eventL, a.eventR, a.day
        { color: white; }

a.back-to-top 
        { display: none;
          width: 60px;
          height: 90px;
          text-indent: -9999px;
          position: fixed;
          z-index: 999;
          background: transparent url("../res/top-button.png") no-repeat center 100%; } /* top-button.png */

@media (min-width: 700px) {
    a.back-to-top {
        left: 210px;
        top: 43%; 
    }
}

@media (max-width: 699px) {
    a.back-to-top {
        left: 250px; 
        bottom: 5%;
    }
    
}

/* Class for the event description photos */
.pic    { float: right;
          width: 120px;
          height: 120px; 
          border-radius: 100%; 
          background-size: 100% 100%; }

/* Phone view */
@media (max-width: 670px) {
    #parent    { width: 100vw; }
    .container { width: 100vw; }
    .table-container { width: 100vw; }
    #title     { width: 100%; }
    .td        { width: 300px; }    
}

/* Normal view */
@media (min-width: 670px) {
    #title           { width: 960px; }
    .container       { width: 670px; }
    .table-container { width: 1040px; }
}

@media (max-width: 970px) {
    #title      {width: 100%; } 

}
