/*
    Blue:    #3F51B5
    Red:     #DB2727
    Orange:  #EF6C00
    Green:   #4CAF50
    Gold:    #DCA828
    Purple:  #9C27B0
    Teal:    #009688
    LBlue:   #2196F3
    ROrange: #F44336
    Pinky:   #E91E63
    BGreen:  #024640
    GGold:   #827717

*/

@font-face {
    font-family: 'Antraste';
    src: url(Antraste.ttf);
}
@font-face {
    font-family: 'Gotham'
    src: url('Gotham-Bold.otf');
}


body {
   background-color: #fdfdfd;
}

h1 {
  font-family: 'Antraste';
  font-size: 98.78px;
}
hr {
  height: 0px; margin:2px;
  border-bottom: 0px;
}

.day {
  font-family: 'Gotham';
  font-size:36px;
  font-weight:bold;
  color: white;
  background-color:black;
  width:135px;
  height:69px;
  text-align:center;
  line-height: 69px;
  float:left;
  margin:21px ;
}

.col {
  box-shadow: 0px 0px 0px 0px black inset;
  width:135px;
  height:500px;
  margin:21px;
  margin-top:0px;
  float:left;
  color:black;
}

.event {
  border-radius:10px;
  display:table-cell;
  width:135px;
  font-family: 'Gotham';
  font-weight:bold;
  color:white;
  text-align:center;
  vertical-align: middle;

  transition: all 0.2s;
  -moz-transition: all 0.2s; /* Firefox 4 */
  -webkit-transition: all 0.2s; /* Safari and Chrome */
  -o-transition: all 0.2s; /* Opera */
  -ms-transition: all 0.2s; /* IE9 (maybe) */
}

.event:hover {
  transform: scale(1.03);
}

.break {
  height: 0px;
  margin:2px;
  border-bottom: 0px;
}
